<div class="row task no-gutters mb-2">

    <div class="col-2 block-date rounded-left">
        {{task.date | date}}
    </div>

    <div class="col-8 block-description"
        [ngClass]="{'col-8': !task.completed, 'col-10 block-description-completed rounded-right del': task.completed}"
        [title]="task.description">
        {{task.description}}
    </div>

    <div *ngIf="!task.completed" class="col-2 block-actions rounded-right text-right">
        <i class="icon-action fa fa-check text-success" (click)="checkedEvent()"></i>
        <i class="icon-action fa fa-trash-alt text-danger" (click)="removeEvent()"></i>
    </div>

</div>