<div class="row no-gutters">

    <div class="col-12">

        <div class="row">
            <div class="col-12">

                <!-- Muestra/oculta el filtro -->
                <button class="btn btn-block btn-primary mb-4 mt-4" (click)="showFilter = !showFilter">
                    {{showFilter ? 'Ocultar filtro' : 'Mostrar filtro'}}
                </button>

                <app-filter-cocktail [showFilter]="showFilter" (loadCocktails)="showLoadCocktails($event)" (list)="fetchCocktails($event)"></app-filter-cocktail>


            </div>
        </div>


        <!-- Recorro las lista de cocktails -->
        <div class="row" *ngIf="listCocktails.length > 0 && loadCocktails">
            <div class="col-lg-3 col-md-4 col-sm-6 col-12 mt-4 mb-4"
                *ngFor="let cocktail of listCocktails | paginate: { itemsPerPage: items, currentPage: page }">

                <!-- Carta del cocktail -->
                <div class="card">
                    <!-- Imagen del cocktail -->
                    <img class="card-img-top img-fluid w-100" [src]="cocktail.img" />
                    <div class="card-body">
                        <!-- Nombre del cocktail -->
                        <p class="card-text">{{cocktail.name}}</p>
                    </div>
                    <div class="card-footer">
                        <!-- Boton para mostar los detalles -->
                        <a href="#" class="btn btn-block btn-primary text-light" role="button"
                            [routerLink]="['/cocktails','detail-cocktail', cocktail.id]">Ver detalles</a>
                    </div>
                </div>

            </div>
        </div>

        <!-- Si hay mas elementos que numero de elementos a mostrar, mostraremos los controles de la paginacion -->
        <div class="row" *ngIf="listCocktails.length > items">
            <div class="col-12 text-center" *ngIf="loadCocktails">
                <pagination-controls previousLabel="Anterior" nextLabel="Siguiente" (pageChange)="page = $event">
                </pagination-controls>
            </div>
        </div>


    </div>
</div>